  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* use root */
:root {
  --dark-blue: #070615;
  --light-blue: #12152B;
  --yellow: #FFAF29;
  --white: #FFFFFF;
      --font-logo: "Pacifico", cursive;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-white {
  background-color: var(--white);
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-light-blue {
  color: var(--light-blue);
}

.text-yellow {
  color: var(--yellow);
}

.text-white {
  color: var(--white);
}

.dropdown-menu-color {
  background-color: var(--dark-blue);
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;

}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.logo-font  {
  font-family: var(--font-logo);
  font-size: 2rem;
}